//extra-small smartphones (landscape view)
$screen-xs-min: 320px;



//small smartphones (landscape view)
$screen-s-max: 350px;


//small-meddium smartphones (landscape view)
$screen-ss-min: 351px;

//small tablets and large smartphones (landscape view)
$screen-sm-min: 568px;




//medium small tablets and large smartphones (landscape view)
$screen-ms-max: 767px;





//medium tablets (portrait view)
$screen-md-min: 695px;

// Tablets and small desktops
$screen-lg-min: 968px;

// extra Large tablets and desktops
$screen-xl-min: 1024px;

// extra extra Large desktops
$screen-xxl-min: 1440px;
